---
import PageLayout from "../../components/PageLayout.astro";
import ApplyLayout from "../../components/ApplyLayout.astro";
---

<PageLayout>
  <ApplyLayout>
    <div class="shadow-lg">
      <div
        class="flex-col bg-tertiary items-center justify-center text-center py-16 rounded-t-lg"
      >
        <h1 class="text-3xl font-semibold">Leafy Application</h1>
      </div>
      <div
        class="flex-col bg-card items-center md:items-start px-4 md:px-20 py-12"
      >
        <h1 class="text-3xl">Thanks for Applying!</h1>
      </div>
    </div>
  </ApplyLayout>
</PageLayout>
