<div class="w-full flex flex-col items-center relative py-48 px-8 text-center">
  <h1 class="md:text-7xl text-5xl font-bold text-shadow">Careers</h1>
  <p class="text-lg whitespace-normal mt-4">We love plants. We love people.</p>
  <a
    href="/growwithus"
    class="px-4 py-2 bg-primary text-white rounded shadow-md shadow-gray-500 mt-4"
    >Apply Now</a
  >
  <div class="absolute inset-0 -z-10 opacity-50">
    <img
      src="/images/backgrounds/careers.jpg"
      class="w-full h-full object-cover blur-sm"
    />
  </div>
</div>
