<div class="flex flex-col items-center text-center bg-secondary pt-14 pb-8">
  <h1 class="md:text-6xl text-4xl font-bold">
    Are you <em class="not-italic underline text-primary">passionate</em>?
  </h1>
  <p class="text-lg whitespace-normal mt-4">We're the right place for you.</p>
</div>
<img src="/images/other/divider.svg" class="w-full" />
