<div class="flex flex-col items-center text-center pb-32 px-8">
  <h2 class="text-4xl text-center md:text-left font-semibold">
    We're ready for you
  </h2>
  <p class="mt-4">
    Become part of the future of interior design and home plant integration.
    Join our team.
  </p>
  <a
    href="/growwithus"
    class="px-4 py-2 bg-primary text-white rounded shadow-md shadow-gray-500 mt-4"
    >Apply Now</a
  >
</div>
