<div
  class="w-full flex flex-col text-center items-center justify-center py-32 md:py-40 px-[10vw]"
>
  <h1 class="text-4xl md:text-6xl font-semibold">
    <em class="not-italic text-primary">Trusted</em> and <em
      class="not-italic text-primary">Loved</em
    > by Customers
  </h1>
  <div
    class="w-full flex flex-col md:flex-row items-center justify-between mt-16 gap-16"
  >
    <div class="flex flex-col items-center md:w-1/3 gap-2">
      <img src="/images/other/light-bulb.png" alt="Image 1" class="w-16 h-16" />
      <h1 class="text-4xl text-primary">Innovation</h1>
      <p class="text-lg">
        We produce new ideas and never-seen-before plant designs.
      </p>
    </div>
    <div class="flex flex-col items-center md:w-1/3 gap-2">
      <img src="/images/other/passion.png" alt="Image 1" class="w-16 h-16" />
      <h1 class="text-4xl text-primary">Passion</h1>
      <p class="text-lg">
        We love what we do for customers, and we put our all into every design.
      </p>
    </div>
    <div class="flex flex-col items-center md:w-1/3 gap-2">
      <img src="/images/other/energy.png" alt="Image 1" class="w-16 h-16" />
      <h1 class="text-4xl text-primary">Efficiency</h1>
      <p class="text-lg">
        We prioritize our customers’ time while ensuring top quality.
      </p>
    </div>
  </div>
</div>
