<div class="h-[80vh] absolute w-[100vw] flex flex-col justify-center">
  <div
    class="absolute -top-16 -right-16 md:top-1/4 md:right-1/4 w-72 h-72 bg-[radial-gradient(169.40%_89.55%_at_94.76%_6.29%,rgba(63,169,41,0.6)_0%,rgba(255,255,255,0.00)_100%)] md:bg-[radial-gradient(169.40%_89.55%_at_94.76%_6.29%,rgba(63,169,41,0.4)_0%,rgba(255,255,255,0.00)_100%)] mix-blend-multiply rounded-full filter blur-xl opacity-30 animate-blob"
  >
  </div>
<div
  class="absolute -bottom-16 -left-16 md:top-1/3 md:left-4 w-72 h-72 bg-[radial-gradient(169.40%_89.55%_at_94.76%_6.29%,rgba(63,169,41,0.6)_0%,rgba(255,255,255,0.00)_100%)] md:bg-[radial-gradient(169.40%_89.55%_at_94.76%_6.29%,rgba(63,169,41,0.4)_0%,rgba(255,255,255,0.00)_100%)] mix-blend-multiply rounded-full filter blur-xl opacity-30 animate-blob animation-delay-2000"
>
</div>

<div
  class="h-[80vh] relative flex flex-col justify-center md:items-start items-center px-4 md:px-0"
>
  <!-- Main Section Contents -->
  <div
    class="md:pl-[10vw] flex flex-col items-center md:items-start md:w-[40vw] text-center md:text-start"
  >
    <h1
      class="w-full md:text-7xl text-5xl font-bold text-shadow"
      data-aos="fade-right"
      data-aos-duration="2000"
    >
      Plant your
    </h1>
    <h1
      class="md:text-7xl text-5xl text-primary font-bold text-shadow"
      data-aos="fade-right"
      data-aos-duration="2000"
    >
      future
    </h1>
    <p
      class="text-lg whitespace-normal mt-4 md:pr-32"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      Industry leaders in house plant development and maintenance.
    </p>
    <div
      class="mt-4 flex space-x-4"
      data-aos="fade-up"
      data-aos-duration="2000"
      data-aos-delay="2000"
    >
      <a
        href="/careers"
        class="px-4 py-2 bg-white text-black rounded shadow-md shadow-gray-500"
        >Explore Careers</a
      >
      <a
        href="/growwithus"
        class="px-4 py-2 bg-primary text-white rounded shadow-md shadow-gray-500"
        >Apply Now</a
      >
    </div>
  </div>

  <div
    class="md:w-[80vw] absolute bottom-[-2px] md:right-0 -z-10 overflow-hidden"
  >
    <!-- Desktop image -->
    <!-- https://pixabay.com/photos/plant-succulent-potted-white-space-2004483/ -->
    <img
      src="/images/backgrounds/indexpc.jpg"
      class="w-full max-h-full object-cover object-right-bottom hidden md:block"
      alt="Background"
    />

    <!-- Mobile image -->
    <!-- https://pixabay.com/photos/plant-succulent-potted-white-space-2004483/ -->
    <img
      src="/images/backgrounds/indexmobile.png"
      class="scale-150 origin-bottom w-full max-h-full object-cover object-bottom md:hidden"
      alt="Background"
    />
  </div>
</div>
