<div class="flex flex-col-reverse md:grid md:grid-cols-2 md:grid-rows-1">
  <div class="bg-secondary">
    <div class="flex items-center justify-center py-24">
      <div class="flex flex-col items-center md:items-start md:w-[60%]">
        <img src="/images/other/logo.png" alt="Logo" class="w-16 h-16" />
        <h1 class="text-5xl md:text-6xl font-bold">Join our</h1>
        <h1 class="text-5xl md:text-6xl font-bold">
          <em class="not-italic text-primary">team</em>.
        </h1>
        <a
          href="/apply"
          class="px-4 py-2 bg-primary text-white rounded shadow-md shadow-gray-500 mt-6"
          >Apply Now</a
        >
      </div>
    </div>
  </div>
  <div class="bg-tertiary flex items-start justify-center">
    <div
      class="w-full h-full flex flex-col items-center justify-center py-20 px-10 md:px-20 text-start"
    >
      <h1 class="text-5xl font-bold w-full">
        We want <em class="not-italic text-primary">you</em>.
      </h1>
      <p class="w-full mt-4 text-lg">
        We are looking for passionate, driven individuals to join our team of
        designers and staff. Help us reach our mission of providing creative,
        accessible designs to homeowners. Become part of the present and future
        of home plant design.
      </p>
    </div>
  </div>
</div>
