<!-- Second Section -->
<div class="w-full h-[40vh] bg-green-700 flex flex-col justify-center items-center py-8">
  <img src="/images/other/plant.png" class="w-20 h-20" alt="plant" />
  <h2 class="text-2xl text-white font-semibold md:w-1/3 text-center mt-4 px-8">
    The Modern Solution to Interior Design and House Plant Integration
  </h2>
</div>
