<div class="w-full flex flex-col items-center relative py-48 px-8 text-center">
  <h1 class="md:text-7xl text-5xl font-bold text-shadow">Grow with us</h1>
  <p class="text-lg whitespace-normal mt-4">
    Explore a variety of careers to join our team and contribute your skills.
  </p>
  <div class="absolute inset-0 -z-10 opacity-50">
    <img
      src="/images/backgrounds/grow.jpg"
      class="w-full h-full object-cover blur-sm"
    />
  </div>
</div>
