---
import PageLayout from "../components/PageLayout.astro";
import First from "../components/indexPage/First.astro";
import Second from "../components/indexPage/Second.astro";
import Third from "../components/indexPage/Third.astro";
import Fourth from "../components/indexPage/Fourth.astro";
import Fifth from "../components/indexPage/Fifth.astro";
---

<PageLayout>
  <div class="w-full md:w-[80vw] absolute bottom-[10vh] right-0 -z-10">
    <!-- Desktop image -->
    <!-- https://pixabay.com/photos/plant-succulent-potted-white-space-2004483/ -->
    <img
      src="/images/backgrounds/indexpc.jpg"
      class="w-full max-h-full object-cover object-right-bottom hidden md:block"
    />

    <!-- Mobile image -->
    <!-- https://pixabay.com/photos/plant-succulent-potted-white-space-2004483/ -->
    <img
      src="/images/backgrounds/indexpc.jpg"
      class="w-full max-h-full object-cover object-bottom md:hidden"
    />
  </div>

  <First />
  <Second />
  <Third />
  <Fourth />
  <Fifth />
</PageLayout>

<style>
  .text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
</style>
