<div class="w-full flex flex-col items-center relative py-48 px-8 text-center">
  <h1 class="md:text-7xl text-5xl font-bold text-shadow">Apply</h1>
  <div class="absolute inset-0 -z-10 opacity-50">
    <img
      src="/images/backgrounds/grow.jpg"
      class="w-full h-full object-cover blur-sm"
      alt="Background"
    />
  </div>
</div>
<div class="mt-[-10vh] mx-8 md:mx-40 mb-24">
  <slot />
</div>
