<header>
    <nav class="w-full h-16 bg-red-200 flex justify-between p-8 items-center">
        <div>
            <h1 class="text-2xl font-bold">Leafy</h1>
        </div>
        <div>B</div>
    </nav>
</header>
