<script>
  function toggleMenu() {
    const menu = document.getElementById("menu");
    menu.classList.toggle("hidden");
  }

  window.addEventListener("scroll", () => {
    const navbar = document.getElementById("navbar");
    if (window.scrollY > 0) {
      navbar.classList.remove("bg-transparent");
      navbar.classList.add("bg-white");
    } else {
      navbar.classList.remove("bg-white");
      navbar.classList.add("bg-transparent");
    }
  });
</script>

<nav
  id="navbar"
  class="w-full bg-transparent top-0 flex items-center justify-between px-16 py-6 z-50 sticky border-b-2 border-green-700"
>
  <div class="flex items-center">
    <!-- Logo and Title -->
    <img src="/images/other/logo.png" alt="Logo" class="h-6" />
    <h1 class="ml-0 text-lg font-bold">Leafy</h1>
  </div>

  <!-- Hamburger menu button -->
  <button class="md:hidden" onclick="toggleMenu()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>

  <div id="menu" class="md:flex items-center md:items-center hidden gap-4">
    <!-- Navlinks -->
    <a href="/" class="mr-4">Home</a>
    <a href="/careers" class="mr-4">Careers</a>
    <a href="/apply" class="mr-4">Join Us</a>

    <!-- Button -->
    <a href="/growwithus" class="px-4 py-2 bg-primary text-white rounded"
      >Grow With Us</a
    >
  </div>
</nav>
