<script>
  const menuButton = document.querySelector("button");
  menuButton.addEventListener("click", () => {
    const mobmenu = document.getElementById("mobmenu");
    mobmenu.classList.toggle("hidden");
  });
</script>
<nav
  id="navbar"
  class="w-full bg-white top-0 flex items-center justify-between px-16 py-6 z-50 sticky border-b-2 border-green-700"
>
  <div class="flex items-center">
    <!-- Logo and Title -->
    <img src="/images/other/logo.png" alt="Logo" class="h-6" />
    <h1 class="ml-0 text-lg font-bold">Leafy</h1>
  </div>

  <!-- Hamburger menu button -->
  <button class="md:hidden z-50">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>

  <div id="menu" class="md:flex items-center md:items-center hidden gap-4">
    <!-- Navlinks -->
    <a href="/" class="mr-4">Home</a>
    <a href="/careers" class="mr-4">Careers</a>
    <a href="/apply/2" class="mr-4">Join Us</a>

    <!-- Button -->
    <a href="/growwithus" class="px-4 py-2 bg-primary text-white rounded"
      >Grow With Us</a
    >
  </div>

  <!-- Mobile Nav Menu opening from the Side -->
  <div
    id="mobmenu"
    class="flex-col justify-end text-end absolute top-0 right-0 bg-card border-primary border-l-2 border-b-2 p-8 pt-16 hidden z-40"
  >
    <div class="flex flex-col items-end gap-4">
      <!-- Navlinks -->
      <a href="/" class="mr-4">Home</a>
      <a href="/careers" class="mr-4">Careers</a>
      <a href="/apply/2" class="mr-4">Join Us</a>

      <!-- Button -->
      <a href="/growwithus" class="px-4 py-2 bg-primary text-white rounded"
        >Grow With Us</a
      >
    </div>
  </div>
</nav>
